.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #ccc;
  color: black;
}

.textarea {
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.heading {
  font-size: 34px;
  margin-bottom: 30px;
}

.post {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  width: 300px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  margin-bottom: 10px;
  font-size: 14px;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
